@import "tailwindcss";
body{
    background-color: #000;
    color: #fff;
}
@font-face {
    font-family:ADLaM Display;
    src: url(../src/assets/fonts/ADLaMDisplay-Regular.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../src/assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}
:root {
  --font-ADLaMDisplay: ADLaM Display, "sans-serif";
  --font-Inter: Inter, "sans-serif";
}
/* in index.css or global.css */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}
