@import "tailwindcss";
body{
    background-color: #000;
    color: #fff;
}
@font-face {
    font-family:ADLaM Display;
    src: url(../src/assets/fonts/ADLaMDisplay-Regular.ttf);
}
@theme{
    --font-ADLaMDisplay:ADLaM Display,"sans-serif";
}