@import "tailwindcss";
body{
    background-color: #000;
    color: #fff;
}
@font-face {
    font-family:ADLaM Display;
    src: url(../src/assets/fonts/ADLaMDisplay-Regular.ttf);
}
@theme{
    --font-ADLaMDisplay:ADLaM Display,"sans-serif";
}
/* in index.css or global.css */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}
